:root {
    --box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);

    --spacing-1: 0.25rem;
    --spacing-2: calc(2 * var(--spacing-1));
    --spacing-3: calc(3 * var(--spacing-1));
    --spacing-4: calc(4 * var(--spacing-1));
    --spacing-5: calc(5 * var(--spacing-1));
    --spacing-6: calc(6 * var(--spacing-1));
    --spacing-8: calc(8 * var(--spacing-1));
    --spacing-12: calc(12 * var(--spacing-1));

    --text-md-laptop: max(1rem, 14px);
    --text-lg-laptop: max(1.875rem, 16px);

    --text-md-tablet: 20px;
    --text-lg-tablet: 25px;

    --text-md-mobile: 34px;
    --text-lg-mobile: 42px;

    --icon-size-laptop: 20px;
    --icon-size-tablet: 35px;
    --icon-size-mobile: 50px;

    --width-1\/12: calc(1 * 100% / 12);
    --width-3\/12: calc(3 * var(--width-1\/12));
    --width-8\/12: calc(8 * var(--width-1\/12));
    --width-11\/12: calc(11 * var(--width-1\/12));
    --width-full: 100%;

    --border-radius-md: 0.25rem;
    --border-radius-lg: 0.5rem;

    --color-blue: #2563eb;
    --color-green: #059669;
    --color-purple: #7c3aed;
    --color-gray: #edf2f7;
}

#root {
    /* min-h-screen bg-gray-200 font-sans pb-12 flex flex-col gap-8 text-4xl xl:text-base */
    min-height: 100vh;
    background-color: var(--color-gray);
    padding-bottom: var(--spacing-12);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8);
    font-family: "Open Sans", sans-serif;
    font-size: var(--text-md-mobile);
}

header,
div.section-box {
    box-shadow: var(--box-shadow);
    background-color: white;
}

header {
    padding-top: var(--spacing-2);
    padding-bottom: var(--spacing-2);
    font-size: var(--text-lg-mobile);
    text-align: center;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.social-nav {
    background: linear-gradient(
        90deg,
        #623f88,
        #032b95,
        #051454,
        #09072f,
        #030210
    );
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    gap: var(--spacing-8);
    font-size: var(--icon-size-mobile);
    color: white;
}

.list-disc {
    list-style-type: disc;
    margin-left: var(--spacing-8);
}

.list-none {
    list-style-type: none;
}

.section-box {
    border-radius: var(--border-radius-lg);
    gap: var(--spacing-3);
    padding: var(--spacing-5);
    display: flex;
    flex-direction: column;
}

.section-box-col {
    text-align: justify;
    width: var(--width-11\/12);
    margin-left: auto;
    margin-right: auto;
}

.section-box-grid {
    width: var(--width-full);
    text-align: left;
}

.about--header,
.technicals--header {
    margin-bottom: var(--spacing-6);
}

.experience--header,
.projects--header,
.education--header {
    margin-bottom: var(--spacing-8);
}

.experience--wrapper,
.projects--wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8);
}

.technicals--wrapper,
.experience--wrapper,
.projects--wrapper {
    width: var(--width-11\/12);
    margin-left: auto;
    margin-right: auto;
}

.experience--list,
.projects--list {
    margin-left: var(--spacing-1);
    margin-top: var(--spacing-8);
}

.experience--hgroup,
.projects--hgroup,
.education--hgroup {
    margin-top: calc(-1 * var(--spacing-8));
    padding: var(--spacing-1) var(--spacing-4);
    box-shadow: var(--box-shadow);
    position: absolute;
    display: inline-block;
    color: white;
    border-radius: var(--border-radius-md);
}

.technicals--wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-5);
}

.technicals--hgroup {
    font-weight: bold;
}

.experience--hgroup {
    background-color: var(--color-blue);
}

.projects--hgroup {
    background-color: var(--color-green);
}

.projects--link {
    color: var(--color-blue);
    text-decoration: underline;
}

.education--hgroup {
    background-color: var(--color-purple);
}

.education--content {
    text-align: center;
}

.education--logo {
    display: block;
    margin: var(--spacing-2) auto;
}

@media (min-width: 1024px) {
    #root {
        font-size: var(--text-md-tablet);
    }

    header {
        font-size: var(--text-lg-tablet);
    }

    .social-nav {
        gap: var(--spacing-6);
        font-size: var(--icon-size-tablet);
    }

    .experience--list,
    .projects--list {
        margin-top: var(--spacing-3);
    }
}

@media (min-width: 1280px) {
    #root {
        font-size: var(--text-md-laptop);
    }

    header .social-nav {
        gap: var(--spacing-4);
        font-size: var(--icon-size-laptop);
    }

    .list-disc {
        margin-left: var(--spacing-5);
    }

    .section-box-col {
        width: var(--width-8\/12);
    }

    .technicals--wrapper {
        flex-direction: row;
    }

    .experience--wrapper,
    .projects--wrapper {
        display: grid;
        display: -ms-grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        row-gap: var(--spacing-8);
        column-gap: var(--spacing-5);
    }

    .technicals--wrapper,
    .experience--wrapper,
    .projects--wrapper {
        width: var(--width-8\/12);
    }

    .experience--list,
    .projects--list {
        margin-top: var(--spacing-2);
    }
}
