:root {
    --box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);

    --spacing-1: 0.25rem;
    --spacing-2: calc(2 * var(--spacing-1));
    --spacing-3: calc(3 * var(--spacing-1));
    --spacing-4: calc(4 * var(--spacing-1));
    --spacing-5: calc(5 * var(--spacing-1));
    --spacing-6: calc(6 * var(--spacing-1));
    --spacing-8: calc(8 * var(--spacing-1));
    --spacing-12: calc(12 * var(--spacing-1));

    --text-md: 14px;
    --text-lg: 24px;

    --width-1\/12: calc(1 * 100% / 12);
    --width-8\/12: calc(8 * var(--width-1\/12));
    --width-11\/12: calc(11 * var(--width-1\/12));
    --width-full: 100%;

    --border-radius-md: 0.25rem;
    --border-radius-lg: 0.5rem;

    --cellor-blue: #2563eb;
    --cellor-green: #059669;
    --cellor-purple: #7c3aed;
    --cellor-gray: #edf2f7;
}

body {
    margin: 0;
    line-height: 1.5em;
}

div,
p {
    margin: 0;
    padding: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: var(--spacing-5);
}

*,
::after,
::before {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e2e8f0;
}

#root {
    min-height: 100vh;
    background-color: var(--cellor-gray);
    font-family: "Open Sans", sans-serif;
    font-size: var(--text-md);
}

#root > section {
    padding-bottom: var(--spacing-6);
}

header {
    box-shadow: var(--box-shadow);
    background-color: white;
    padding-top: var(--spacing-4);
    padding-bottom: var(--spacing-4);
    font-size: var(--text-lg);
    margin-bottom: var(--spacing-6);
    text-align: center;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.social-nav {
    background: linear-gradient(
        90deg,
        #623f88,
        #032b95,
        #051454,
        #09072f,
        #030210
    );
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    text-align: center;
    padding: var(--spacing-2) 0;
}

.social-item {
    font-size: 30px;
    color: white;
}

.social-item:not(:first-of-type) {
    margin-left: var(--spacing-8);
}

.social-item:not() .list-none {
    list-style-type: none;
}

.section-box {
    background-color: white;
    border-radius: var(--border-radius-lg);
    padding: var(--spacing-5);
}

.section-box-col {
    text-align: justify;
    width: var(--width-11\/12);
    margin-left: auto;
    margin-right: auto;
}

.technicals--wrapper,
.experience--wrapper,
.projects--wrapper {
    width: var(--width-11\/12);
    margin-left: auto;
    margin-right: auto;
}

.technicals--cell:not(:first-of-type),
.experience--cell:not(:first-of-type),
.projects--cell:not(:first-of-type) {
    margin-top: var(--spacing-6);
}

.experience--list,
.projects--list {
    margin-left: var(--spacing-1);
}

.experience--hgroup,
.projects--hgroup {
    margin-bottom: var(--spacing-1);
    padding: var(--spacing-1) var(--spacing-4);
    box-shadow: var(--box-shadow);
    display: inline-block;
    color: white;
    border-radius: var(--border-radius-md);
    font-size: var(--text-lg) !important;
}

.technicals--hgroup {
    font-weight: bold;
}

.experience--hgroup {
    background-color: var(--cellor-blue);
}

.projects--hgroup {
    background-color: var(--cellor-green);
}

.projects--link {
    color: var(--cellor-blue);
    text-decoration: underline;
}

.education--hgroup {
    background-color: var(--cellor-purple);
}

.education--content {
    text-align: center;
}

.education--logo {
    display: block;
    margin: var(--spacing-3) auto;
}

@media (min-width: 1024px) {
    .social-item:not(:first-of-type) {
        margin-left: var(--spacing-6);
    }
}

@media (min-width: 1280px) {
    .social-item:not(:first-of-type) {
        margin-left: var(--spacing-4);
    }

    .section-box-col {
        width: var(--width-8\/12);
    }

    .technicals--grid,
    .experience--grid,
    .projects--grid {
        margin: calc(-1 * var(--spacing-5));
    }

    .technicals--table,
    .experience--table,
    .projects--table {
        display: table;
        border-spacing: var(--spacing-5);
        margin: 0;
        width: 100%;
        table-layout: fixed;
    }

    .technicals--row,
    .experience--row,
    .projects--row {
        display: table-row;
    }

    .technicals--cell,
    .experience--cell,
    .projects--cell {
        display: table-cell;
        margin-top: 0;
    }

    .technicals--wrapper,
    .experience--wrapper,
    .projects--wrapper {
        display: block;
        width: var(--width-8\/12);
        overflow: hidden;
        margin: 0 auto;
    }
}
